<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Обсуждение</title>

</head>
<body>
<#include "../header/navigation.ftlh">
<h1>${discussion.title}</h1>
<h2>Пользователи, участвующие в обсуждении</h2>
<table>
    <tr>
        <th>Email</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <td>Действия</td>
    </tr>
    <#list inDiscussionUser as user>
        <tr>
            <td>${user.email}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>
                <a href="/users/${user.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/discussions/${discussion.id}/users" method="post">
    <label>Пользователи
        <select name="user-id">
            <#list notInDiscussionUser as user>
                <option value="${user.id}">${user.firstName} ${user.lastName}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Добавить">
</form>
</body>
</html>